.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.sign-in-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.account-type-container {
    display: flex;
    margin: 10px;
}

.account-type-btn {
    margin: 20px;
}


.sign-in-btn {
    margin-bottom: 20px;
    padding: 20px 20px;
    background-color: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

.sign-in-btn:hover {
    transform: scale(1.2);
}



/* Sign Out */

.sign-out-button {
    display: inline-block;
    padding: 10px 20px;

    width: 200px;
    height: 60px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #fff;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.sign-out-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}