.navbar {
    /* background-color: #002E2C; */
    background-color: #1e1e1e;
    color: white;
    padding: 16px;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-item {
    margin-right: 10px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
}

.navbar-link:hover {
    background-color: #028090;
}

.navbar-link {
    color: #035E7B;
    color: white;
    font-size: 20px;
}

.notification-button {
    margin-left: auto;
    background-color: transparent;
    /* border: 1px solid white; */
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 5px;
}