.notification-card {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background-color: #1e1e1e;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 420px;
    height: 170px;
    /* Adjust the width as needed */
}

.notification-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.notification-header .notification-title {
    color: yellow;
    margin-top: 4px;
    /* margin-bottom: 10px; */
    font-size: 16px;
    margin-left: 10px;
}

.notification-data {
    margin-top: 20px;
    margin-left: 27px;
    text-align: left;
    font-size: 20px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}